@import "styles/globals.scss";

.card_label{
  margin-left: -32px;
  margin-right: -32px;

  &:first-child{
    margin-top: -16px;
  }

  &:last-child{
    margin-bottom: -16px;
  }

  // &:not(:first-child){
  //   border-top: 1px solid $color-Gray-4;
  // }

  // &:not(:last-child){
  //   border-bottom: 1px solid $color-Gray-4;
  // }

  padding: 16px 32px;
  
}

.card_label__text{
  display: block;
  margin: 0;
  padding: 0;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}


.card_label__links{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card_label__link{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
  padding: 0.4em 1em;

  border: none;
  background: $color-Primary;
  color: $color-White;

  outline: none;

  &:not(:last-child){
    margin-right: 4px;
  }
}