@import "styles/globals.scss";

.listItem{
  background: $color-White;
  border-radius: 5px;
  width: 100%;
  height: auto;
  padding: 8px 16px;

  border: 1px solid $color-Gray-4;


  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child){
    margin-bottom: 8px;
  }
}

.links{
  display: flex;
  align-items: center;
  justify-content: flex-end;

  flex: 1;

  >*:not(:last-child){
    margin-right: 16px;
  }
}

.link{
  // all: unset;


  display: flex;
  align-items: center;
  justify-content: flex-start;

  cursor: pointer;

  font-weight: 400;
  color: $color-Black;

  &:hover{
    color: $color-Primary;
  }

  background: transparent;
  border: none;
  outline: none;
}

.link_icon{
  height: 24px;
  width: 24px;
  margin-left: 4px;
}

.subtitle{
  color: $color-Black;
  opacity: 0.5;

  &::before{
    content: "—";
    margin-left: 8px;
    margin-right: 8px;
  }
}