@import "styles/globals.scss";

.navbar {
    --icons_size: 24px;

  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;

  width: var(--navbar_width);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: $color-Dark;

  transition: width 0.3s ease;

  &.opened {
    width: var(--navbar--open_width);
  }

  overflow: hidden;

  user-select: none;
}

.navbar__group {
  display: flex;
  flex-direction: column;
}

.navbar__item {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  .navbar__item_label {
    display: block;
    color: $color-Light;
    position: absolute;
    left: calc(var(--navbar_width) + 8px);
    width: calc((var(--navbar--open_width) - var(--icons_size)) - (var(--navbar_width) - var(--icons_size)) - 24px);
  }

  --icon-color: #{$color-Light};
  &:hover {
    --icon-color: #{$color-White};

    .navbar__item_label {
      display: block;
      color: $color-White;
    }
  }
}

.navbar__item_icon {
  width: var(--icons_size) !important;
  height: var(--icons_size) !important;

  margin: calc((var(--navbar_width) - var(--icons_size)) / 2);

  pointer-events: none;
}

.navbar__item_collapse{
    display: flex;
    justify-content: flex-end;
}
