@import 'Styles/constaints.scss';

.pageSearch{
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
  width: 24px;
  border-radius: 10px;

  --searchImg-color: #292B30;

  transition: width 0.3s ease, background 0.3s ease;
  overflow: hidden;
  justify-content: flex-end;

  .searchImg{
      height: 20px;
      width: 20px;
  }

  .search{
      height: 20px;
      width: 20px;
      margin: 2px;
      
      display: flex;
      align-items: center;
      justify-content: center;

      z-index: 2;
      position: relative;
      cursor: pointer;

      transform: scale(1);
      transition: 0.3s ease all;
  }

  &.active{
      background: #ffffff;
      width: 150px;
      
      --searchImg-color: #{$color-Primary};
      
      .search{
          transform: scale(0.8);
      }
  }

  input{
      flex: 1;
      width: auto;
      min-width: 0;
      outline: none;
      border: none;
      padding: 5px 12px;
      background: transparent;
      border-radius: 10px;
      font-family: 'Roboto';
  }
}