@import 'Styles/constaints.scss';

.infoLine{
    padding: 17.5px 16px;

    margin-top: -8px;
    margin-left: -8px;
    width: calc(100% + 16px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .pageTitle{
        font-size: 24px;
        font-family: 'Rubik';
        font-weight: 400;
    }

    height: 63px;
}

.groups{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .group{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 16px;
    
        >*:not(:last-child){
            margin-right: 16px;
        }
    
        &:not(:last-child)::after{
            content: "";
            display: block;
            height: 30px;
            width: 1px;
            background: $color-Gray-4;
            margin-left: 16px;
            margin-right: -16px;
        }
    
        &:last-child{
            padding-right: 0;
        }
    }
}


.pageUser{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    user-select: none;

    font-family: 'Rubik';
    font-weight: 400;

    --downImg-color: #{$color-Black};

    &:hover{
        --downImg-color: #{$color-Gray-4};
    }

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        cursor: pointer;

        >*:not(:last-child){
            margin-right: 16px;
        }
    }

    .image{
        position: relative;
        img{
            border-radius: 50%;
            display: block;
            height: 40px;
            width: 40px;
        }

        &::before{
            content: "";
            position: absolute;
            display: block;
            top: -3px;
            left: -3px;
            right: -3px;
            bottom: -3px;

            background: transparent;
            border: 1.5px solid $color-Gray-5;
            border-radius: 50%;
        }
    }

    .down{
        transition: transform 0.5s ease;
        transform: rotateX(0deg);
    }
    .down{
        margin-left: -8px;
    }


    &.opened{
        --downImg-color: #{$color-Primary};

        :hover{
            --downImg-color: #{$color-PrimaryDark-2};
        }

        .list{
            transform: translateY(100%);
            opacity: 1;
            pointer-events: all;
        }

        .down{
            transform: rotateX(-180deg);
        }
    }
    .list{
        z-index: 10;
        background: $color-White;
        position: absolute;
        bottom: -8px;
        right: 0;
        transform: translateY(80%);
        padding: 8px;
        border-radius: 5px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 0px 8px #00000040;

        pointer-events: none;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;

        .item{
            width: 100%;
            cursor: pointer;
            transition: 0.2s ease all;
            &:hover{
                color: $color-Primary;
            }

            &--btn{
                border-radius: 10px;
                border: solid 2px  $color-Secondary;
                color: $color-Secondary !important;
                padding: 8px 16px;
                font-weight: bold;
                width: auto;
                margin-top: 8px;
            }

            &:not(:last-child){
                margin-bottom: 4px;
            }
        }
    }
}