@import 'Styles/constaints.scss';

.pageNotifs{
    position: relative;
    height: 24px;
    width: 24px;

    .notifsImg{
        height: 24px;
        width: 24px;

        --icon-color: #292B30;
    }

    .notifs::after{
        content: "";
        position: absolute;
        top: 0;
        right: 1.1px;
        height: 8px;
        width: 8px;
        background: $color-Primary;
        border-radius: 50%;
        border: 0.75px solid $color-Light;
        transform: scale(0);
        transition: 0.8s cubic-bezier(.75,-0.5,0,1.75) all;
    }

    .notifs:hover::after{
        transform: scale(1);
    }
}