@import 'styles/constaints.scss';

.Setter{
  &:last-child{
    margin-bottom: -16px;

    .section:last-child{
      &::after{
        border-bottom: none !important;
      }
    }
  }
}

.section{
  position: relative;
  width: calc(100% + 64px);
  margin-left: -32px;

  &::after{
    display: block;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $color-Gray-5;
    pointer-events: none;
  }

  &:last-child{
    &::after{
      border-bottom: 1px solid $color-Gray-5;
    }
  }
}

.section_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  font-size: 18px;

  cursor: pointer;
}

.toggle_btn{
  position: relative;
  height: 24px;
  width: 24px;

  background: transparent;
  border-radius: 50%;
  border: 1px solid $color-Gray-5;

  &::after{
    position: absolute;
    display: block;
    content: "";

    left: 50%;
    top: 50%;

    transform: translateY(-50%) translateX(-50%);

    width: 50%;
    height: 2px;
    background: $color-Gray-3;
  }

  &::before{
    position: absolute;
    display: block;
    content: "";

    left: 50%;
    top: 50%;

    transform: translateY(-50%) translateX(-50%) rotateZ(90deg);
    width: 50%;
    height: 2px;
    background: $color-Gray-3;

    transition: 0.2s ease all;
    opacity: 1;
  }

  &.active{
    &::before{
      transform: translateY(-50%) translateX(-50%) rotateZ(0);
      opacity: 0;
    }
  }
}


.section_body{
  display: block;
  padding: 16px 32px;
  padding-top: 8px;
}

.section{
  &:not(.opened){
    .section_header{
      &.edited{
        background: #f2f3d5;
      }
    }
  }
}