@import "styles/globals.scss";

.card_chart{
  margin-left: -24px;
  margin-right: -24px;

  &:first-child{
    margin-top: -24px;
  }

  &:last-child{
    margin-bottom: -24px;
  }

  padding: 12px 12px;
}


.chart_block{
  &:not(:last-child){
    margin-bottom: 16px;
  }
}