@import "styles/globals.scss";


.input_label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  margin-left: 16px;
  background: $color-White;
  color: $color-Gray-3;

  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  order: 0;
  z-index: 1;
  width: auto;
  padding: 0 4px;


  pointer-events: none;
  transition: all 0.3s ease;
}

.input_field{
  order: 1;
  border: 1px solid $color-Gray-4;
  background: $color-White;
  border-radius: 8px;
  padding: 12px 16px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik";
  color: $color-Gray-2;
  transition: all 0.3s ease;

  width: 100%;

  &:focus{
    color: $color-Gray-1;
    border-color: $color-Primary;
    box-shadow: inset 0 0 6px rgba($color-Primary, 0.1);

    + .input_label{
      color: $color-Primary;
      margin-left: 8px;
      font-size: 14px;
      top: -2px;
    }
  }

  &:not([value=""]){
    + .input_label{
      top: -2px;
      margin-left: 8px;
      font-size: 14px;
    }
  }
}

.input_wrapper{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

  &.disabled{
    opacity: 0.5;
    pointer-events: none;
  }

  &:not(:last-child){
    margin-bottom: 24px;
  }
}










.button{
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;
  background: $color-Primary;
  color: $color-White;
  padding: 0.8em 1em;

  font-size: 16px;
  border-radius: 8px;

  cursor: pointer;
  
  transition: all 0.2s ease;

  &:disabled{
    opacity: 0.5;
    pointer-events: none;
  }

  &:active{
    background: $color-PrimaryDark-2 !important;
    color: $color-White !important;
  }
}


.submit_button{
  &:hover{
    background: $color-PrimaryDark-1;
    color: $color-White;
  }
}

.reset_button{
  background: transparent;
  box-shadow: inset 0 0 0 1px $color-Primary;
  color: $color-Primary;

  &:hover{
    background: $color-PrimaryDark-1;
    box-shadow: inset 0 0 0 1px $color-PrimaryDark-1;
    color: $color-White;
  }
}

.form_group{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;

  &:not(:last-child){
    margin-bottom: 24px;
  }

  >*{
    margin-bottom: 0 !important;
  }
}