$color-Dark: #373d4a;
$color-Light: #f4f5f7;

$color-White: #ffffff;
$color-Black: #292b30;

$color-Secondary: #e97979;
$color-SecondaryLight-1: #f4a2a2;
$color-SecondaryLight-2: #ffd7d7;
$color-SecondaryDark-1: #c95a5a;
$color-SecondaryDark-2: #853a3a;

$color-Primary: #2d9cdb;
$color-PrimaryLight-1: #4cb1eb;
$color-PrimaryLight-2: #88cff8;
$color-PrimaryDark-1: #187eb8;
$color-PrimaryDark-2: #0c6294;

$color-Gray-6: #f2f2f2;
$color-Gray-5: #e0e0e0;
$color-Gray-4: #bdbdbd;
$color-Gray-3: #828282;
$color-Gray-2: #4f4f4f;
$color-Gray-1: #333333;

$theme-colors: (
  color-Dark: $color-Dark,
  color-Light: $color-Light,

  color-White: $color-White,
  color-Black: $color-Black,

  color-Secondary: $color-Secondary,
  color-SecondaryLight-1: $color-SecondaryLight-1,
  color-SecondaryLight-2: $color-SecondaryLight-2,
  color-SecondaryDark-1: $color-SecondaryDark-1,
  color-SecondaryDark-2: $color-SecondaryDark-2,

  color-Primary: $color-Primary,
  color-PrimaryLight-1: $color-PrimaryLight-1,
  color-PrimaryLight-2: $color-PrimaryLight-2,
  color-PrimaryDark-1: $color-PrimaryDark-1,
  color-PrimaryDark-2: $color-PrimaryDark-2,

  color-Gray-6: $color-Gray-6,
  color-Gray-5: $color-Gray-5,
  color-Gray-4: $color-Gray-4,
  color-Gray-3: $color-Gray-3,
  color-Gray-2: $color-Gray-2,
  color-Gray-1: $color-Gray-1,
);
