html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Rubik";
}

h1,
.h1 {
  font-size: 36px;
  font-weight: 500;
}

h2,
.h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

h3,
.h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

h4,
.h4 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

h5,
.h5 {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

h6,
.h6 {
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}

.p1,
.p2,
.p3 {
  font-family: "Roboto";
}

.p1 {
  font-size: 14px;
}

.p2 {
  font-size: 12px;
}

.p3 {
  font-size: 10px;
}
