@import './constaints.scss';
@import './mixins.scss';

@include font-face('Roboto', '/fonts/Roboto/Roboto-Black', 800, 'ttf');
@include font-face('Roboto', '/fonts/Roboto/Roboto-Bold', 600, 'ttf');
@include font-face('Roboto', '/fonts/Roboto/Roboto-Light', 300, 'ttf');
@include font-face('Roboto', '/fonts/Roboto/Roboto-Regular', 500, 'ttf');
@include font-face('Roboto', '/fonts/Roboto/Roboto-Thin', 100, 'ttf');

@include font-face('Rubik', '/fonts/Rubik/Rubik-VariableFont', 900, 'ttf');
@include font-face('Rubik', '/fonts/Rubik/Rubik-VariableFont', 800, 'ttf');
@include font-face('Rubik', '/fonts/Rubik/Rubik-VariableFont', 700, 'ttf');
@include font-face('Rubik', '/fonts/Rubik/Rubik-VariableFont', 600, 'ttf');
@include font-face('Rubik', '/fonts/Rubik/Rubik-VariableFont', 500, 'ttf');
@include font-face('Rubik', '/fonts/Rubik/Rubik-VariableFont', 400, 'ttf');
@include font-face('Rubik', '/fonts/Rubik/Rubik-VariableFont', 300, 'ttf');


$screen-xs: "screen and (min-width: 320px)";
$screen-sm: "screen and (min-width: 768px)";
$screen-md: "screen and (min-width: 1024px)";
$screen-lg: "screen and (min-width: 1280px)";
$screen-xl: "screen and (min-width: 1440px)";