@import "styles/globals.scss";

.wrapper{
  width: 100%;

  // &:not(:last-child){
  //   margin-bottom: 24px;
  // }

  // &:not(:first-child){
  //   margin-top: 24px;
  // }
}

.text_block{
  &:not(:last-child){
    margin-bottom: 16px;
  }
}

.text_block__title{
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.text_block__text{
  display: block;
  margin: 0;
  padding: 0;
}

.card_title_wrapper{
  margin-left: -24px;
  margin-top: -24px;
  margin-right: -24px;

  padding: 12px 24px;
  margin-bottom: 24px;

  border-bottom: 1px solid $color-Gray-4;
}

.markdown{
  h1{
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
  }

  p{
    display: block;
    margin: 0;
    padding: 0;

    &:not(:last-child){
      margin-bottom: 4px;
    }
  }

  >ol, >ul{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-left: 4px;
  }

  ol, ul{
    padding-left: 16px;
  }
}