@import 'styles/globals.scss';

.main{
    --navbar-width: 44px;
    display: block;
    width: calc(100% - var(--navbar_width));
    margin-left: var(--navbar_width);
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    background: $color-Light;
    padding: 8px;
}

.content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
}