@import 'styles/globals';

.icon {
  fill: currentColor;
  box-sizing: content-box;
  display: inline-block;
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;
}

.size-small {
  height: 24px;
  width: 24px;

  @media #{$screen-md} {
    height: 16px;
    width: 16px;
  }
}

.size-normal {
  height: 36px;
  width: 36px;

  @media #{$screen-md} {
    height: 24px;
    width: 24px;
  }
}

.size-large {
  height: 48px;
  width: 48px;

  @media #{$screen-md} {
    height: 36px;
    width: 36px;
  }
}

.color_custom {
  color: var(--icon-color);

  &:hover{
    color: var(--icon-color--hover);
  }

  &:active{
    color: var(--icon-color--focus);
  }
}
